
/packages
/MVCApplication/bin
/MVCApplication/obj
/.vs
/Ecomm_b3/.vs
/Ecomm_b3/Ecomm_b3/obj
/practice_mvc/packages
/practice_mvc/MVCApplication/bin
/Ecomm_b3/Ecomm_b3/bin
/WebAppUpload/.vs
/WebAppUpload/.vs
/OpenApI_b3/.vs
/OpenApI_b3/OpenApI_b3/bin
/OpenApI_b3/OpenApI_b3/obj
/WebAppUpload/.vs
